CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.vs
lombie/Debug
lombie/lombie-game.dir
*.vcxproj
*.filters
*.user
x64
*.sln
enc_temp_folder
.idea
